<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria Fantástica></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <link rel="stylesheet" href="/css/index.css">
    <header>
        <nav class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cart/">Carrinho</a></li>
                <li><a href="/user/">Login</a></li>
                <% if(admin != 'deslogado') {%>
                    <li><a href="/user/perfil">Perfil</a></li>
                <% } %>   
            </ul>
        </nav>
        
    </header>d

    </form>

    <header>
        
    </header>
    <main>
        
        
    </main>
</body>

</html>